<div ng-module="boorish.livestream" ng-controller="livestreamController" >

    <h1>{{ title }} </h1> <h4>{{ subject }} By {{ author }}</h4>

    <div id="videoStream">
        <!--LiveStream from youtube-->
        <iframe width="560" height="315" src={{youtubeUrl}} frameborder="0" allowfullscreen></iframe>
    </div>

    <div ng-show="questions.length > 0">
        <h2>Questions</h2>
        <ol>
            <li class="sideQuestions" ng-repeat="question in questions">
                <h4>Q</h4>
                {{ question.Questions }}
            </li>
        </ol>
    </div>

    <div ng-show="questions.length < 1">
        The questions were not picked yet for this event.
    </div>

    <div class="chat" ng-controller="chatController">
        <div id="chat">
            <ul style="list-style-type:none" id="message" class="chatMessage">
                <li ng-repeat="msg in messages">
                    <strong class="chatMessage">{{ msg.from }}</strong>
                    {{ msg.body }}
                </li>
            </ul>
        </div>
        <input class="input" ng-model="name" type="text" id="nameInput" placeholder="Enter Your name">
        <input class=" "ng-model="msg" ng-keydown="addMessage($event)" type="text" id="messageInput"  placeholder="Type a message...">
    </div>

</div>