  <div class="chat" ng-controller="chatController">
      <header>Live Chat</header>

      <div id="chat">
      </div>

      <ul id="message" class="chatMessage">
        <li ng-repeat="msg in messages">
          <strong class="chatMessage">{{ msg.from }}</strong>
          {{ msg.body }}
        </li>
      </ul>
        <input class="input" ng-model="name" type="text" id="nameInput" placeholder="Enter Your name">
        <input class=" "ng-model="msg" ng-keydown="addMessage($event)" type="text" id="messageInput"  placeholder="Type a message...">
  </div>
